@charset "UTF-8";

.social a {
	font-size: 3em;
	color:#CCC;
	padding: 0 .15em 0 .15em;
	}

.new {
	color:#fff;
}

.center {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	}


.top-bar {
	margin-bottom: 0em;
	}

.top-bar .name {
	margin-left: 8px;
		@media #{$medium} {
		margin-left: 16px;
		}
}

.hero {
	height: 250px;
	padding: 15% 5% 0px 5%;
	margin: 0px;
	font-size: 18px;
	background-image: url(../img/IMAGE-LargeHero@2x.png);
	background-position: center center;
	background-repeat: no-repeat;
	 -webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		     background-size: auto 100%;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	position: relative;
	width: 100%;

			@media #{$small} {
			height: 700px;
			padding: 200px 25% 0px 25%;
			margin: 0px 0px 35px 0px;
			font-size: 18px;
			background-image: url(../img/IMAGE-LargeHero@2x.png);
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-background-size: auto 100%;
			   -moz-background-size: auto 100%;
			        background-size: auto 100%;
			box-sizing: border-box;
			color: #fff;
			text-align: center;
			position: relative;
			width: 100%;
	}
}


.hero h2 {
	color: #fff;
	font-size: 2em;
	line-height: 1;
	font-weight:bolder;

		@media #{$small} {
		font-size: 3em;
	}
}

.hero p {
	color: #fff;
	font-size: .85em;
	text-transform: uppercase;
	line-height: 1;
	font-weight:lighter;

		@media #{$small} {

	}
}

#mainarea .hero .scroll {
	visibility:hidden;
	font-size: .65em;
	text-transform: uppercase;
	margin-top: 15%;

		@media #{$small} {
		visibility:visible;
		font-size: .65em;
		text-transform: uppercase;
		margin-top: 25%;

	}
}

.circle-image img {
	background:url(img/IMAGE-design@2x.png) no-repeat;
	max-width: 75%;
	border: 1em solid #8cc63f;
	 -webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		 -ms-border-radius: 50%;
	         border-radius: 50%;
	margin: 3em 0em 2em 0em;
	 -webkit-background-size:100% 100%;
	 	-moz-background-size:100% 100%;
		 -ms-background-size:100% 100%;
		     background-size:100% 100%;

		@media #{$small} {
		margin: 1em 0em 2em 0em;
	}
}


.top-bar > .title-area > .name > .tag-line {
	visibility: hidden;
	font-size: small;
	color: #fff;
	vertical-align: 90%;

		@media #{$small} {
			visibility: visible;
	}
}

.row {
	margin-top: 3em;
	p {
		strong {
			font-size: 1.1em;
		}
	}
}

img {

	border: 0px solid;
	padding: 10px;
	margin: 10px 0 20px 0;

}

figure {
	img {
	padding: 0px;
	margin: 0px;
	}
}

figcaption {
	font-size: 0.75em;
	line-height: 1.5;
	margin: 10px 5px 50px 5px;
}
